body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #33CC9A;
  text-align: center;
}

h1 {
  font-style: italic;
  color: #FF0000;
  text-decoration : underline;
  font-family: cursive;
}

ol {
    text-align: center;
    list-style-position: inside;
}