body { /*Valable pour tout le document*/
    /*Permet de délimiter là ou les éléments vont apparaître*/
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    /*Réglage de la couleur de l'arrière-plan*/
    background-color: #f8f8f8;
}

.accueil { /*Valable uniquement pour les éléments présents dans la division portant la classe "accueil"*/
    /*Permet de placer, positionner et redimentionner l'image de fond, qui apparaît uniquement dans cette division*/
    height: 100%;
    background-image: url("Assets/laptop.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*Permet à l'arrière plan de ne pas être affecté par la zone définie plus haut*/
    margin-left: -100px;
    margin-right: -100px;
    /*Permet à ce que l'arrière plan reste à la même place quand on scroll dans l'image*/
    background-attachment: fixed;
    /*Permet de centrer les éléments contenus dans cette division*/
    justify-content: center;
}

.page { /*Valable uniquement pour les éléments présents dans la division portant la classe "page"*/
    /*Permet de donner une longueur à cette page, et ainsi, pouvoir scroller dans la page.*/
    height: 3000px;
}

.accueil.button { /*Valable uniquement pour les éléments portant la classe "button" présents dans la division portant la classe "accueil"*/
    /*Permet de masquer les éléments qui dépassent de la classe*/
    overflow: hidden;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: bolder;
    text-align: center;
    margin-bottom: 100px;
    margin-left: 500px;
    margin-right: 500px;
    color: #f8f8f8;
    padding: 10px 35px;
    z-index: 1;
}

h2 {
    font-family: sans-serif;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 50px;
}

h3 {
    font-family: sans-serif;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 150px;
}

p {
    font-family: sans-serif;
    text-align: justify;
    font-size: 15px;
    line-height: 25px;
}

ul {
    font-family: sans-serif;
    text-align: justify;
    list-style: none;
    font-size: 15px;
    line-height: 25px;
}

ol {
    font-family: sans-serif;
    text-align: justify;
    font-size: 15px;
    line-height: 25px;
}

li {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    text-decoration: underline;
}

a.button {
    padding: 10px 35px;
    margin: 0 1rem;
    margin-left: 16.25%;
    color: red;
    font-family: sans-serif;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.4);
}

a.button:hover {
    background: red;
    color: white;
    transition: all 0.05s ease-out 0s;
}

.menu {
    width: 100%;
    background-color: rgba(173, 173, 173, 0.9);
    position: fixed;
    z-index: 1;
}

.sections {
    position: relative;
    top: 50px;
    z-index: 0;
}

.backg {
    position: absolute;
    top: 3%;
    left: 25%;
    z-index: 0;
}

.descri {
    position: absolute;
    left: 5%;
    z-index: 0;
}
