@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Crete+Round&display=swap');
body {
  font-family: 'Cabin', sans-serif;
  font-family: 'Crete Round', serif;
}


h2 {
  text-decoration: underline;
  letter-spacing: 4px;
}

.page {
  height: 3000px;
}

td {
  border: 5px solid;
}

ul.a {
  list-style-type: square;
}
.livre {
  text-decoration: underline;
  font-style: italic;
  color: #339900;
}
.gd {
  list-style-type: none;
}
