@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Crete+Round&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Cabin', sans-serif;
  font-family: 'Crete Round', serif;
}

h2 {
  text-decoration: underline;
  letter-spacing: 10px;
}

.accueil { /*Valable uniquement pour les éléments présents dans la division portant la classe "container"*/
  margin-top: -10px;
  /*Permet de placer, positionner et redimentionner l'image de fond, qui apparaît uniquement dans cette division*/
  height: 100%;
  background-image: url("Assets/neumann.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*Permet à l'arrière plan de ne pas être affecté par la zone définie plus haut*/
  margin-left: -100px;
  margin-right: -100px;
  /*Permet à ce que l'arrière plan reste à la même place quand on scroll dans l'image*/
  background-attachment: fixed;
}

.menu {
  width: 100%;
  background-color: rgba(173, 173, 173, 0.9);
  position: fixed;
  z-index: 1;
}

a.button {
  padding: 10px 35px;
  margin: 0 1rem;
  margin-left: 16.25%;
  color: red;
  font-family: sans-serif;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.4);
}

a.button:hover {
  background: red;
  color: white;
  transition: all 0.05s ease-out 0s;
}

h1 {
  margin-top: 100px;
  font-family: 'Audiowide', cursive;
  text-align: center;
  text-decoration: bold;
}

.page {
  height: 3000px;
}

td {
  border: 5px solid;
  border-color: #ff0000;
  background-color: #cccccc;
  padding: 10px;
}

img {
  position: static;
  width: 1000px;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

.site {
  color: #0099ff;
}

.auteurs {
  color: #ff0101;
}

ul.a {
  list-style-type: square;
}
.livre {
  text-decoration: underline;
  font-style: italic;
  color: #339900;
}
.gd {
  list-style-type: none;
}
